*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1100px;
    margin: 0 auto;
    border: 1px solid black;
}

header{
    background-color: red;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 1px dashed black;
}

nav{
    background-color: lightblue;
    height: 50px;
    border-bottom: 1px dashed black;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    clear: both;
}


#content{
    float:left;
    width: calc(80% - 80px);
    min-height: 500px;
    background-color: green;
    padding: 40px
}

.article{
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
}


aside{
    float: right;
    width: calc(20% - 20px);
    min-height: 500px;
    background-color: orange;
    padding: 10px;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}