body{
    background-color: beige;
}


.flex-container{
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-flow: row wrap;
}


.caja{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin:5px;
}